body {
  max-width: 900px;
}

.banner {
  text-align: center;
  width: 80%; 
  height: auto;
}


img.banner {
  /* float: left; */
  max-width: 100%;
  height: auto;
  padding: 5px;
}

p.banner {
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}

.sidebar {
  float: right;
  margin: 10px;
  border: 20px solid black;
  padding: 10px;
  background-color: yellow;
  box-sizing: border-box;
}

.discog {
  /* float: right;
  border: 20px solid black;
  padding: 10px;
  background-color: yellow;
  box-sizing: border-box; */
}

.discog img {
  width: 300px;
  max-height: 300px;
}